@import "tailwindcss";

@theme {
  --color-primary: #F48E1A;    /* The Orange Button Color */
  --color-secondary: #1D2434;  /* The Dark Navy (Footer/Headings) */
  --color-accent: #F2F2F2;     /* The Light Gray Backgrounds */
  
  /* Form Colors */
  --color-input-border: #E0E0E0;
}

/* Custom Utility*/
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px; /* Constraints the width on large screens */
}

/* Base styles */
body {
  font-family: Arial, Helvetica, sans-serif; 
  color: var(--color-secondary);
}